{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{% static 'hello/dow.ico' %}"/>
    <title>Hello World 13</title>
    <style>
            body {
                  background-image: url('{% static "hello/w.jpg"%}');
             background-color: #c7b39b; 
             background-size: 1800px 900px;
             background-repeat: no-repeat;
             background-position: top;
             background-attachment: fixed;
            }
           </style>
</head>
<body>
    <h1><font color="black">Hello World 13</font></h1>
    <p><font color="black">help</font></p>
</body>
</html>